---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Me';

const skills = ['HTML', 'CSS', 'JavaScript', 'Web Components', 'Lit', 'Astro'];
---

<BaseLayout pageTitle={pageTitle}>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
