---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} class="social-link">
  {platform}
</a>

<style>
  .social-link {
    background-color: var(--surface-3);
    border-radius: 0.25rem;
    color: var(--text-1);
    display: inline-block;
    padding: var(--ag-space-xs) var(--ag-space-m);
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      background-color: var(--brand-1);
      color: var(--text-1);
    }

    &:focus-visible {
      outline: 2px solid var(--brand-1);
      outline-offset: 2px;
    }
  }
</style>
